@font-face {
  font-family: Helvetica Neue;
  font-weight: 300;
  src: url("/assets/fonts/Helvetica Neue Light.otf") format("truetype"); }
@font-face {
  font-family: Helvetica Neue;
  font-weight: 500;
  src: url("/assets/fonts/Helvetica Neue Medium.otf") format("truetype"); }
@font-face {
  font-family: Helvetica Neue;
  font-weight: 700;
  src: url("/assets/fonts/Helvetica Neue Bold.otf") format("truetype"); }
@font-face {
  font-family: Helvetica Neue;
  font-weight: 900;
  src: url("/assets/fonts/Helvetica Neue Heavy.otf") format("truetype"); }
 

@font-face {
  font-family: DinPro;
  font-weight: 100;
  src: url("./assets/fonts/DINProLight.otf"); }
@font-face {
  font-family: DinPro;
  font-weight: 300;
  src: url("./assets/fonts/DINProRegular.otf"); }
@font-face {
  font-family: DinPro;
  font-weight: 500;
  src: url("./assets/fonts/DINProRegular.otf"); }
@font-face {
  font-family: DinPro;
  font-weight: 700;
  src: url("./assets/fonts/DINProBold.otf"); }
@font-face {
  font-family: DinPro;
  font-weight: 900;
  src: url("./assets/fonts/DINProBlack.otf"); }
	@font-face {
		font-family: Inter;
		src: url("./assets/fonts/Inter.ttf"); }


body {
	font-family: Inter !important; 
}

.page {
	text-align: left;
}

.intro {
	margin-left: 30px;
	margin-top: 30px;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.page-header {
	padding: 30px;
	padding-bottom: 0px;
}

.page-content {
	padding: 30px;
}

.template-container {
	padding: 30px;
}

.project-container {
	padding: 30px;
}

.project-option {
	color: grey;
	cursor: pointer;
}

.project-name {
	position: relative;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-left: 0px;
	font-weight: 500;
	font-size: 16px;
	color: rgba(52, 52, 52, 0.5);
}

.project-name:hover {
	color:rgb(201, 146, 146)
}

.two-line {
	padding-bottom: 40px;
	margin-top: -100px;
}

@media (max-width: 1200px) {
	.intro {
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

a:link {
	font-weight: 500;
	color: black;
	text-decoration: none;
	opacity: 1.0;
}
a:visited {
	color: #262626;
    opacity: 0.6;
}
a:hover {
	color: #0b68af;
	opacity: 1.0;
}
a:active {
	opacity: 1.0;
} 

/* HOMEPAGE */

.homepage-image {
	width: 600px;
	max-width: 100%;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}


/* GENERIC COMPONENTS */

.main-title {
	font-size: 24px;
	font-weight: 700;
}

.main-subtitle {
	font-size: 16px;
	color: grey;
	margin-top: 5px;
}

.content-section  {
	margin-bottom: 30px;
}

.content-header {
	margin-bottom: 10px;
}

.content-text {
	font-size: 16px;
	color: grey;
	margin-bottom: 30px;
}

.back-button {
	display: inline-block;
	opacity: 0.7;
	cursor: pointer;
} 

.back-button:hover {
	opacity: 1.0
}

.content {

}

.description {
	max-width: 250px;
	margin-right: 100px;
	padding-bottom: 30px;
	white-space: normal;
	float: left;
	font-size: 0.9em;
	opacity: 0.6;
	display: inline-block;
}

.description-link {
	font-weight: 500 !important;
}

.description-header {
	font-weight: 700;
	color: black;
}

.description-link {
	font-weight: 500 !important;
}

.description p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px
}

.gallery-lightbox-container {
}

.gallery {
	display: inline-block;
}

.gallery-image {
	display: inline-block;
	padding: 10px;
	padding-left: 0px;
	max-width: 100%;
	cursor: pointer;
}

.container_a31snl {
	background-color: rgba(0,0,0,0.8) !important;
}

.media-wrapper {
	display: inline-block;
	width: calc(100% - 350px);
}

@media (max-width: 800px) {
  .media-wrapper {
    display: inline-block;
    width: calc(100%);
  }

  .description {
  	margin-right: 0px;
  	max-width: none;
  }

  .other-content-object {
  	width: 100% !important;
  	margin-bottom: 20px;
  }

  .template-container {
  	padding: 25px;
  }

  .project-container {
  	padding: 0px;
  	padding-top: 20px;
  }
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	width: 100%
}

.youtube-embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}


/* OTHER CONTENT */

.other-content-container {
	padding-top: 70px;
	width: 100%;
	padding-bottom: 50px;
}

.other-content-header {
	font-weight: 700;
	font-size: 18px;
	padding-bottom: 20px;
}

.other-content-object {
	width: calc(50% - 10px);
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
}

/* PROJECT COMPONENTS */

.title {
	font-size: 25px;
	font-weight: 700;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
